# Sanal ortam klasörü
/musicApp_env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Veritabanı dosyası
*.sqlite3

# IDE dosyaları
.vscode/
.idea/

# Log dosyaları
.DS_Store

# media/audio dosyaları
*.mp3

musicApp/media/img/songs/*.jpg
musicApp/media/img/songs/*.jpeg
musicApp/media/img/songs/*.png
musicApp/media/img/playlists/2.png
