

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color1: #F2F2F2;
    --color2: #919191;
    --color3: #666973;
    --color4: #51736F;
    --color5: #011F26;
    --color6: #090B0D;
    --color8: #232a2e;
}

label {
    color: var(--color1);
}
.form-username {
    font-size: 14px;
    border: none;
    outline: none;
    color: var(--color6);
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 5px;
    width: 55%;
    margin: auto;
}
.form-password {
    font-size: 14px;
    border: none;
    outline: none;
    color: var(--color6);
    display: flex;
    flex-direction: column;
    padding: 14px;
    border-radius: 5px;
    width: 55%;
    margin: auto;
}
.form-button {
    border-radius: 5px;
    border: none;
    background-color: var(--color4);
    color: var(--color1);
    width: 55%;
    margin: auto;
    padding: 14px;
    cursor: pointer;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html , body {
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 3vh;
    background: linear-gradient(160deg, #011F26,#011F26,#050505,#18181d);
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container .left {
    height: 100%;
    width: 53%;
    position: relative;
}

.container .left img {
    height: 100%;
    width: 98%;
    border-radius: 14px;
}

.container .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 47%;
    gap: 40px;
}
.container .right .form {
    padding: 30px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .right .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.container .right .form form div {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 55%;
    margin-top: -25px; 
}
.container .right .form form a {
    font-size: 12px;
    cursor: pointer; 
    color: #f2f2f2; 
    text-decoration: none;
}

.container .right .form form a:hover {
    text-decoration: underline;
}

.container .right .login-with-buttons {
    display: flex;
    gap: 12px;
}

.container .right .login-with-buttons button {
    font-size: 30px;
    width: 90px;
    height: 60px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    padding: 0;
}